body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
}

:root {
    --main-bg-clr: #010101;
    --main-fg-clr: #EFEFEF;
    --main-accent-clr: #ababab;
}

/* CONTAINER */
.page-content {
    width: 100%;
    height: 100vh;

    display: grid;
    background-color: #1a1a1a;
}

.main-wrapper {
    width: 375px;
    height: 667px;

    border: 7.5px solid #000;
    border-radius: 2em;
    margin: auto;
    overflow: scroll;
    background-color: var(--main-bg-clr);
}

.post-item {
    width: 100%;
    background-color: var(--main-bg-clr);
}

.post-header {
    display: flex;

    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;

    padding: 10px;
}

.post-content {
    width: 100%;
    height: 375px;

    overflow: hidden;
}

header {
    width: 100%;
    padding: 10px 15px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;

    background-color: var(--main-bg-clr);
    border-bottom: 1px solid #1b1b1b;
}

section {
    width: 100%;
    overflow: hidden;
}

.post-img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.post-info {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-content: flex-start;

    box-sizing: border-box;
    padding: 15px;
}

.userpic-wr {
    width: 35px;
    height: 35px;

    border-radius: 100%;
    margin-right: 12px;
    overflow: hidden;
}

.btn-wrap {
    width: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    box-sizing: border-box;
}

.main-btns {
    display: flex;
    align-items: flex-start;
    gap: 10px;

    margin-bottom: 10px;
}

.liked-by-wr {
    height: 20px;
    width: 20px;

    border-radius: 100%;
    overflow: hidden;
}

.like-stats {
    display: flex;
    align-items: center;

    column-gap: 8px;
    margin-bottom: 6px;
}

.post-creator {
    display: flex;
    column-gap: 4px;

    padding: 0;
    margin-bottom: 6px;
}

.post-footer {
    display: flex;
    flex-direction: column;

    row-gap: 12px;
}

/*IMG'S*/
.logo_img {
    width: 127px;
    margin: 0px;
    padding: 0px;
}

.account_img {
    width: 35px;
    border-radius: 100%;

    margin: 0px;
    padding: 0px;
}

.post-userpic {
    height: 100%;
    width: 100%;

    object-fit: cover;
}

.post-img {
    height: 120%;
}

.liked-by_img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}


/*TYPOGRAPHY*/

.t-p {
    margin: 0;
    line-break: 100%;
    color: var(--main-fg-clr);
}

.t-p.bold {
    font-weight: bold;

}

.t-p.grey {
    color: var(--main-accent-clr)
}

.t-eye {
    font-size: 10px;
    color: var(--main-accent-clr);
}



/*BTN*/
.interact-btn {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.comment-btn {
    text-align: left;
    font-size: 0.9em;
    font-weight: medium;
    
    padding: 0;
    
    background: none;
    border: none;
    color: var(--main-accent-clr);

    cursor: pointer;
}

i {
    font-size: 17px;
    color: var(--main-fg-clr);
}

.fa-solid {
    color: red;
}

.fa-solid.yellow {
    color: yellow;
}