body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
}

/* CONTAINER */
.page-content {
    width: 100%;
    background-color: rgb(231, 227, 227);
}

.main-wrapper {
    width: 375px;
    height: auto;
    margin: auto;
    background-color: #EDEDED;
}

.post-item {
    width: 100%;
    background-color: #FFFFFF;
}

.post-header {
    display: flex;

    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;

    padding: 10px;
}

.post-content {
    width: 100%;
    height: 375px;
}

header {
    width: 100%;
    padding: 5px 15px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;

    background-color: #FFFFFF;
    border-bottom: 1px solid #C6C6C6;
}

section {
    width: 100%;
    overflow: hidden;

}

.post-img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.post-info {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-content: flex-start;

    box-sizing: border-box;
    padding: 15px;
}

.btn-wrap {
    width: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    box-sizing: border-box;
}

.main-btns {
    display: flex;
    align-items: flex-start;
    gap: 10px;

    margin-bottom: 10px;
}

.liked-by-wr {
    height: 20px;
    width: 20px;

    border-radius: 100%;
    overflow: hidden;
}

.like-stats {
    display: flex;
    align-items: center;

    column-gap: 8px;
    margin-bottom: 6px;
}

.post-creator {
    display: flex;
    column-gap: 4px;

    padding: 0;
    margin-bottom: 6px;
}

.post-footer {
    display: flex;
    flex-direction: column;

    row-gap: 12px;
}

/*IMG'S*/
.logo_img {
    width: 127px;
    margin: 0px;
    padding: 0px;
}

.account_img {
    width: 35px;
    border-radius: 100%;

    margin: 0px;
    padding: 0px;
}

.post-userpic {
    width: 35px;
    border-radius: 100%;
    margin-right: 12px;
}

.liked-by_img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}


/*TYPOGRAPHY*/

.t-p {
    margin: 0;
    line-break: 100%;
}

.t-p.bold {
    font-weight: bold;
}

.t-p.grey {
    color:rgb(176, 176, 176)
}

.t-eye {
    font-size: 10px;
}



/*BTN*/
.interact-btn {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

i {
    font-size: 17px;
}